
.number-button {
    background-color: #BCAAA4;
}

.player-buttons-flex button {
    background-color: #BCAAA4;
}
canvas {
    border: solid 2px #BCAAA4;
}
a, a:visited {
    color: #BCAAA4;
}
.station-info {
    background-color: #BCAAA4;
}
.app {
    background-color: #795548;
    background: #795548;
}



