
.number-button {
    background-color: #03A9F4;
}

.player-buttons-flex button {
    background-color: #03A9F4;
}
canvas {
    border: solid 2px #03A9F4;
}
a, a:visited {
    color: #03A9F4;
}
.station-info {
    background-color: #03A9F4;
}
.app {
    background-color: #BBDEFB;
    background: #BBDEFB;
}