
.number-button {
    background-color: #4CAF50;
}

.player-buttons-flex button {
    background-color: #4CAF50;
}
canvas {
    border: solid 2px #4CAF50;
}
a, a:visited {
    color: #4CAF50;
}
.station-info {
    background-color: #4CAF50;
}