@font-face {
    font-family: "Digital";
    src: url(../fonts/digital.ttf) format("truetype");
}

body {
    background-color: #212121;
    color: snow;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    border-radius: 5px;
}
h3 {
    text-shadow: 1px 2px 2px #212121;
}

.app {
    border: 10px solid #212121;
    border-radius: 10px;
    background-color: #777777;
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
}

#anim-wrapper {
    text-align: center;
    background-color: #37474F;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid #212121;
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #212121 100%);
    background: -webkit-linear-gradient(top, #7d7e7d 0%,#212121 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%,#212121 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#212121',GradientType=0 );
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

#anim-wrapper img {

    max-width: 20vw;
    max-height: 20vh;
    padding: 5px;
}


/*#animation{*/
    /*position: relative;*/
    /*left: 28px;*/
/*}*/

.arm{
    height: 20vw;
    position: relative;
    right: 26px;

}
.new-play{
    height: 100px;
    width: 50px;
    position: relative;
    right: 25vw;
    border-radius: 50%;
}


.spinning {
    animation: 1.5s rotate360 infinite linear;
}
.pulsing {
    animation: pulse 0.5s infinite linear;
}


.stopped {

}

.navbar-nav {
    margin: 5px;
}

.speaker {
    /*max-width: 20vw;*/
    /*max-height: 20vh;*/
    /*padding: 5px;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*z-index: 10;*/
    width: 14vw;
    height: 14vw;
    z-index: 10;
}

@keyframes rotate360 {
    to { transform: rotate(360deg); }
}

@keyframes pulse {
    to {
        0% {
    transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    100% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    }
    }
}

.top-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding-bottom: 0px;
    width: 80vw;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}


.number-button {
background-color: #03A9F4;

    /*background: #1e5799;*/
    /*background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);*/
    /*background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );*/

    margin: 2px;
    padding: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #212121;
}
.genre-next  {
    /*background-color: #4FC3F7;*/

    /*background: #1e5799;*/
    /*background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);*/
    /*background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );*/

    /*margin: 2px;*/
    /*padding: 2px;*/
    /*width: 28vw;*/
    /*height: 50px;*/
    /*border-radius: 25px;*/
    /*border: 2px solid #212121;*/
}

.number-button:hover {
    transform: scale(1.1, 1.1);
}

.genre-next:hover {
    transform: scale(1.1, 1.1);
}

.station-info {
    font-family: "digital", sans-serif;
    border-radius: 20px;
    background-color: #212121;
    border: 2px solid #000;
    margin: 10px;

    background: #03A9F4;
    /*background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);*/
    /*background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);*/
    /*background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 );*/
    width: 60vw;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    height: 7em;

}
#station-text{
    font-size: 2.0em;
    position: relative;
    bottom: 15px;
    
}
#genre-text{
    font-size: 1.25em;
    position: relative;
    bottom: 25px;
}

.app {
    border-radius: 20px;
}

.player-buttons-flex button:hover{
    transform: scale(1.1, 1.1);
}


.player-buttons-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding-bottom: 10px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;

}


.player-buttons-flex button {
    background-color: #03A9F4;
    /*background: #1e5799;*/
    /*background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);*/
    /*background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );*/
    border-radius: 40px;
    height: 44px;
    width: 44px;
    border: 2px solid #212121;
    font-size: 1.25em;
    margin-left: auto;
    margin-right: auto;
}

.inline{
    display: inline;
}

canvas {
    border-radius: 20px;
    width: 80vw;
    height: 44vh;
    margin-left: auto;
    margin-right: auto;

    z-index: 10;
    border: solid 2px #03A9F4;
}
.robot{
    height: 30px;
    position: relative;
    top: 12px;
    left: 10px;
}

#playPause i{
    font-size: 0.7em;
}
#left-speaker{
    position: absolute;

    left: 10px;
}
#right-speaker{
    position: absolute;
    right: 10px;
}
#song-text{
    position: relative;
    bottom: 30px;
}
.canvas-div {
    align-content: center;
}
#genre-list {
    display: none;
    margin-right: auto;
    margin-left: 20px;

}


